.portfolio {
  width: 98%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.portfolio .content-nav {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: -5px;
  z-index: 200;
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0,0,0,1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

.portfolio .content-nav h1 {
  font-size: 2rem;
}

.portfolio .content-nav .homeicon {
  width: 50px;
  opacity: 1;
}

.portfolio .content-nav .homeicon .divIcon {
  font-size: 2rem;
  margin-left: 10px;
  margin-top: 5px;
  color: #d8364c;
}
.portfolio .content-nav .homeicon.openIcon .divIcon {
  color: #000;
  transition: .5s ease-in-out;
}

.spacer {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navbar {
  font-size: 1.3rem;
  text-align: left;
}

.navbar .bigscreen-nav {
  display: none;
}

.navbar a {
  margin: 5px;
  cursor: pointer;
}

/* mobile nav bar settings */
.navbar .smallscreen-nav, .navbar .smallscreen-nav span {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.navbar .smallscreen-nav {
  position: relative;
  z-index: 1000;
  width: 35px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navbar .smallscreen-nav span {
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d8364c;
  border-radius: 5px;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* This is for the mobile menu dashes */
.navbar .smallscreen-nav span:first-child {
  top: 0;
}
.navbar .smallscreen-nav span:nth-child(2),
.navbar .smallscreen-nav span:nth-child(3) {
  top: 10px;
}
.navbar .smallscreen-nav span:nth-child(4) {
  top: 20px;
}

/* When mobile nav is Open */
.navbar .smallscreen-nav.open span:first-child {
  top: 10px;
  width: 0;
  left: 50%;
}
.navbar .smallscreen-nav.open span:nth-child(2) {
  transform: rotate(45deg);
  background-color: #000;
}
.navbar .smallscreen-nav.open span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #000;
}
.navbar .smallscreen-nav.open span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}

/* backdrop mobile menu */
.backdrop, .backdrop.backopen {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}
.backdrop {
  background: hsla(0,0%,100%,.95);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
}
.backdrop .backnav {
  display: block;
  color: #000;
}
.backdrop .backnav .navigator {
  margin-top: 150px;
  font-size: 3rem;
  font-weight: 700;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}
.backdrop .backnav .navigator .navItem {
  cursor: pointer;
  margin: 25px auto;
  width: 250px;
  background: transparent;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  display: block;
  text-decoration: none;
  color: #000;
}
/* Shows the back drop for mobile menu */ 
.backdrop.backopen {
  z-index: 100;
  opacity: 1;
}
.backdrop .backnav.backnavopen .navigator {
  transform: translateX(0);
  opacity: 1;
  transition: .5s ease-out;
}
.backdrop .backnav.backnavopen .navigator .navItem {
  cursor: pointer;
  margin: 25px auto;
  width: 250px;
  opacity: 1;
  border: 1px solid rgba(0 , 0, 0, .2);
  background: #fff;
  transition: .5s ease-in-out;
  color: #000;
}
/* end of mobile nav */

/* portfolio mobile section */

.content-details {
  background: hsla(0,0%,100%,.7);
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #000;
  overflow: hidden;
}

.portfolio .portfolio-mobile {
  margin: 0 auto;
  width: 100%;
  -webkit-animation: reveal 1s cubic-bezier(0,0,0,1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0,0,0,1) 1 normal forwards;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  opacity: 0;
}

.portfolio .portfolio-mobile .mobile-slide {
  margin: 0 auto;
  width: 95%;
}

.portfolio .portfolio-mobile .mobile-slide .mobile-image {
  width: 100%;
}
.portfolio .portfolio-mobile .mobile-slide .mobile-image img {
  width: 100%;
  border: 1px solid #000;
  -webkit-animation: slides .5s ease-in-out 1 normal forwards;
  animation: slides .5s ease-in-out 1 normal forwards;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: 0;
}
.mobile-image img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.portfolio .portfolio-mobile .mobile-slide .mobile-description p {
  height: 35px;
  opacity: 0;
  -webkit-animation: slides .5s ease-in-out 1 normal forwards;
  animation: slides .5s ease-in-out 1 normal forwards;
  font-size: .8rem;
}
.portfolio .portfolio-mobile .mobile-slide .mobile-description h3 {
  width: 300px;
  margin: 0 auto;
  -webkit-animation: slides .5s ease-in-out 1 normal forwards;
  animation: slides .5s ease-in-out 1 normal forwards;
  opacity: 0;
}

.portfolio .portfolio-mobile .mobile-controls {
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
}
.portfolio .portfolio-mobile .mobile-controls #left {
  bottom: 0;
  left: 0;
  margin-left: 15px;
}
.portfolio .portfolio-mobile .mobile-controls #right {
  bottom: 0;
  right: 0;
  margin-right: 15px;
}
.portfolio .portfolio-mobile .mobile-controls #left #leftArrow,
.portfolio .portfolio-mobile .mobile-controls #right #rightArrow {
  font-size: 2.5rem;
  cursor: pointer;
}

/* Desktop view grid */
.portfolio .portfolio-grid {
  display: none;
}
/* Modal design for each project */
.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.95);
  z-index: 1001;
}
.modal-content {
  max-width: 95%;
  margin: 0 auto;
  z-index: 10;
}
.modal-content .close-box {
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-animation: closeicon 1s cubic-bezier(0,0,0,1) 1 normal forwards;
  animation: closeicon 1s cubic-bezier(0,0,0,1) 1 normal forwards;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.modal-content .close-icon {
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
  text-align: right;
}
.modal-content .close-icon Button {
  color: white;
  background-color: #d8364c;
  padding: 5px 12px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  margin-right: 11px;
}
.modal-content .close-icon Button:hover {
  color:#FDFD96;
}
.project-container {
  display: block;
  opacity: 0;
  width: 95%;
  margin: 0 auto;
  -webkit-animation: projects .8s ease-in 1 normal forwards;
  animation: projects .8s ease-in 1 normal forwards;
}
.project-container .project-image {
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}
.project-container .project-image img {
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .5);
}
.project-container .project-description {
  display: block;
  font-size: .9rem;
  margin-bottom: 25px;
}
.project-container .project-description h2 {
  font-size: 1.2rem;
  margin-top: 25px;
}
.project-container .project-description h3 {
  font-size: 1rem;
  color: gray;
}
.project-container .project-description hr {
  margin-top: 10px;
  margin-bottom: 30px;
}
.project-container .project-description a {
  text-decoration: none;
}
.project-container .project-description a Button {
  color: #fff;
  background-color: #d8364c;
  padding: 5px 12px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-right: 10px;
}
.project-container .project-description a Button:hover {
  color:#FDFD96;
}

@media(min-width: 520px) {
  .portfolio .portfolio-mobile {
    display: none;
  }
  .portofolio .content-details {
    height: 100%;
  }
  .portfolio .portfolio-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  .portfolio .portfolio-grid .project {
    opacity: 0;
    width: 100%;
    -webkit-animation: images .6s ease-out 1 normal forwards;
    animation: images .6s ease-out 1 normal forwards;
  }
  .portfolio .portfolio-grid .project:first-child {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
  }
  .portfolio .portfolio-grid .project:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .portfolio .portfolio-grid .project:nth-child(3) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .portfolio .portfolio-grid .project:nth-child(4) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  .portfolio .portfolio-grid .project:nth-child(5) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  .portfolio .portfolio-grid .project:nth-child(6) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  .portfolio .portfolio-grid .project:nth-child(7) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .portfolio .portfolio-grid img {
    width: 100%;
    opacity: .8;
    border: 1px solid #000;
    cursor: pointer;
  }
  .portfolio .portfolio-grid img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  /* Modal */
 
  .project-container {
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    max-width: 95%;
  }

  .project-container .project-image {
    width: 50%;
  }
  .project-container .project-description {
    margin-left: 25px;
    width: 50%;
  }
  .project-container .project-description h2 {
    margin-top: 0;
  }
}

@media(min-width: 768px) {
  .portfolio {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
  }
  .portfolio .content-nav {
    margin-bottom: -15px;
    -webkit-animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
    animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  }
  .portfolio .content-nav h1 {
    font-size: 3rem;
  }
  .portfolio .content-nav .homeicon .divIcon {
    margin-top: 17px;
  }
  .spacer {
    flex-grow: 1;
  }
  .navbar {
    margin-top: 25px;
  }
  .navbar .bigscreen-nav {
    display: block;
  }
  .navbar .bigscreen-nav a {
    text-decoration: none;
    color:#000;
  }
  .navbar .bigscreen-nav a:hover {
    color: #d8364c;
  }
  .navbar .smallscreen-nav {
    display: none;
  }

  /* Desktop View Grid */
  .content-details {
    height: auto;
    background: hsla(0,0%,100%,.7);
    display: block;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid #000;
  }

  .portfolio .portfolio-grid {
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
  .portfolio .portfolio-grid .project {
    opacity: 0;
    width: 100%;
    -webkit-animation: images .5s ease-out 1 normal forwards;
    animation: images .5s ease-out 1 normal forwards;
  }
  .portfolio .portfolio-grid .project:first-child {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
  }
  .portfolio .portfolio-grid .project:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .portfolio .portfolio-grid .project:nth-child(3) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .portfolio .portfolio-grid .project:nth-child(4) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  .portfolio .portfolio-grid .project:nth-child(5) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  .portfolio .portfolio-grid .project:nth-child(6) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  .portfolio .portfolio-grid .project:nth-child(7) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .portfolio .portfolio-grid img, .portfolio .portfolio-grid img:hover {
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  .portfolio .portfolio-grid img {
    width: 100%;
    border-radius: 0;
    border: 1px solid #000;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    margin: 0 auto;
    width: 1200px;
    max-width: 95%;
  }
  .modal-content .close-box {
    width: 97.5%;
    margin-top: 125px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes underline {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes closeicon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slides {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes images {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes projects {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  75% {
    opacity: .8;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}