
body {
  background-image: url("./assets/images/beachBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  overflow: scroll;
}
.active {
  color:#d8364c !important;
}