body {
  background-image: url("./assets/images/beachBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
}

#home {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  height: 100%;
}

.home {
  display: block;
  max-width: 95%;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.home .home-dev {
  margin-bottom: 10px;
}

.home .home-dev p {
  color: #000;
  font-weight: 300;
  font-size: 1.3rem;
  animation: rotatewords 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: .3s;
  opacity: 0;
}

.home .home-name h1 {
  color: #000;
  font-size: 7rem;
  font-weight: 450;
  animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: .6s;
  opacity: 0;
}

.home .underline {
  height: 4px;
  width: 200px;
  background: #000;
  margin: 0 auto;
  animation: lineextend .8s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: .9s;
  transform: scalex(0);
}

.home .home-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 320px;
  max-width: 98%;
  margin: 25px auto;
  animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 1.1s;
  opacity: 0;
}

.home .home-buttons .home-button {
  border: 1px solid #000;
  background: transparent;
  width: 90px;
  height: 25px;
  font-size: .8rem;
  border-radius: 5px;
  margin: 5px;
  padding-top: 5px;
}

.pointer {
  cursor: pointer;
}

.hidden-button {
  opacity: 0;
}

.home .home-social {
  display: flex;
  width: 200px;
  margin: auto;
}

.home .home-social .social-icon {
  height: 35px;
  width: 35px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  color: #000;
  padding: 7px 5px 0px 4px;
  animation: rotatewords 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 1.5s;
  opacity: 0;
  transition: .3s ease-out;
}

/* Mobile First Approach */
@media(min-width: 411px) {
  .home .home-dev {
    margin-bottom: 27.5px;
  }
  
  .home .home-dev p {
    font-size: 1.5rem;
  }

  .home .home-name h1 {
    font-size: 3.5rem;
  }

  .home .underline {
    height: 4.2px;
    width: 225px;
  }

  .home .home-buttons {
    width: 420px;
    max-width: 98%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .home .home-buttons .home-button {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    margin: 15px auto;
    padding-top: 5px;
  }
  .hidden-button {
    opacity: 0;
  }

  .home .home-social {
    width: 275px;
  }

  .home .home-social .social-icon {
    height: 40px;
    width: 40px;
  }
}

@media(min-width: 768px) {
  .home .home-dev{
    margin-bottom: 30px;
  }

  .home .home-dev p {
    font-size: 2rem;
  }

  .home .home-name h1 {
    font-size: 5rem;
  }

  .home .underline {
    height: 5px;
    width: 300px;
  }

  .home .home-buttons {
    width: 520px;
    max-width: 98%;
  }
  .home .home-buttons .home-button {
    width: 150px;
    height: 40px;
    font-size: 1.25rem;
    margin: 20px auto;
    padding-top: 7.5px;
  }
  
  .home .home-social {
    width: 350px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translatey(40%);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}


/* this does the line extend under my name */
@keyframes lineextend {
  0% {
    opacity: 0;
    transform: scalex(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* This Keyframe does the links at the bottom & full-stack developer */
@keyframes rotatewords {
  0% {
    opacity: 0;
    transform: rotatex(-180deg);
  }

  50% {
    opacity: 1;
    transform: rotatex(180deg);
  }

  100% {
    opacity: 1;
    transform: rotatex(1turn);
  }
}
